.App {
  display: flex;
  background-color: rgb(218, 207, 193);
  border-radius: 5%;
  border: 1px solid black ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}